<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
    <title>{{ title }}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Sandip Nandy.</p>
        <img class="portrait" src="/img/pexels-photo-771742.jpg">
    </div>
    
    {{>footer}}
</body>
</html>